<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <style>
        body {
            background-color: #019875;
        }

        h2{
            color: #ffdd00;
        }
    </style>
</head>
<body>
<div th:switch="${#lists.size(clientes)}">
    <h2 th:case="0"><strong>Não existem clientes cadastrados!</strong></h2>
    <div th:case="*">
        <h1>Lista de Clientes:</h1>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.email}"></td>
                <td>
                    <a th:href="@{/cliente-edit/{id}(id=${cliente.id})}">Editar</a>
                    <a th:href="@{/cliente-delete/{id}(id=${cliente.id})}">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/cliente-new">Adicionar um novo Cliente</a></p>

    <p><a href="/cliente">Sair</a></p>
</div>
</body>
</html>