<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>

    <style>
        .posicao2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);%;
        }

        body {
            background-color: #019875;
        }
        h1 {
            color: #333333;
            font-size: 2em;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>

  <h1>Bem-vindo(a) ao nosso site!</h1>

  <div class="posicao2">
      <a href="/clientes">Cadastro Cliente</a>
  </div>

  <p>
      Este é um espaço dedicado ao cadastro de clientes na plataforma  <strong>ADA</strong> onde você poderá desfrutar de uma experiência incrível.
  </p>
  <p>
     Basta clicar no link abaixo ou  <strong> <a href="/clientes">Aqui</a></strong>.
  </p>

</body>
</html>